* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.cardContainer {
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 1rem;
}

.img {
    width: 18rem;
    height: 15rem;
    margin-top: 1rem;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
}

input {
    width: 15rem;
}

.list-group-item {
    display: flex;
    align-items: center;
}

.progress {
    width: 100%;
    margin-left: 1rem;
}

.name {
    min-width: fit-content;
}

.next100button {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next100button button {
    background: blue;
    color: white;
    padding: 0.5rem 3rem;
    border: 0;
    border-radius: 0.5rem;
    margin: 1rem;
}

.next100button button:hover {
    background: rgb(71, 71, 248);
}